<%= link_to "Restaurant", restaurant_path %>

<body>
<h1>Reservations for <%= @restaurant.name %></h1>
</body>

	
<% @reservation.each do |reservation| %>
	<div><%= reservation.datetime %></div>
<<div><%= link_to "Cancel Reservation?", restaurant_path, method: :delete, confirm: "Are you sure you want to delete?" %>
  </div>
<% end %>
